In [2]:
import pandas as pd
import numpy as np
import os
path = r"C:\Users\moham\hello"
files = [f for f in os.listdir(path) if f.endswith('.csv')]

df = pd.DataFrame()

for file in files:
    file_path = os.path.join(path, file)
    temp = pd.read_csv(file_path)
    df = pd.concat([df, temp], ignore_index=True)

In [3]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [120]:
intt = [ 'Quantity Ordered', 'Price Each']
for i in intt:
    df[i] = pd.to_numeric(df[i] , errors = 'coerce')

In [121]:
df.dtypes
df[intt] = df[intt].fillna(0)

In [122]:
df.dtypes

Order ID             object
Product              object
Quantity Ordered    float64
Price Each          float64
Order Date           object
Purchase Address     object
dtype: object

In [123]:
df['Sales'] = df['Quantity Ordered'] * df['Price Each']

In [124]:



df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales
0,176558,USB-C Charging Cable,2.0,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",23.90
1,NaN,NaN,0.0,0.00,NaN,NaN,0.00
2,176559,Bose SoundSport Headphones,1.0,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",99.99
3,176560,Google Phone,1.0,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",600.00
4,176560,Wired Headphones,1.0,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",11.99
...,...,...,...,...,...,...,...
373695,259353,AAA Batteries (4-pack),3.0,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",8.97
373696,259354,iPhone,1.0,700.00,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",700.00
373697,259355,iPhone,1.0,700.00,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",700.00
373698,259356,34in Ultrawide Monitor,1.0,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",379.99
373699,259357,USB-C Charging Cable,1.0,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",11.95

In [125]:




df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce')

C:\Users\moham\AppData\Local\Temp\ipykernel_10168\3755357595.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce')

In [126]:
df["Month"] =df["Order Date"].dt.month

In [127]:
df['Month'] = df['Month'].fillna(0)
df['Month'] = df['Month'].astype("int")

In [128]:
df[ df["Month"] == 12 ]
df.groupby("Month").agg(
Total_sales = ("Sales" , 'sum')
).sort_values("Total_sales", ascending = False)

       Total_sales
Month
12      9226886.68
10      7473453.76
4       6781340.48
11      6399206.40
5       6305213.50
3       5614200.76
7       5295551.52
6       5155604.52
8       4488935.76
2       4404044.84
9       4195120.26
1       3644513.46
0             0.00

In [129]:
dec = df[ df["Month"] == 12 ]
dec.groupby("Product").agg(
Total_sales = ("Sales" , 'sum')
).sort_values("Total_sales", ascending = False)

                            Total_sales
Product
Macbook Pro Laptop           2186200.00
iPhone                       1268400.00
ThinkPad Laptop              1077989.22
Google Phone                  858000.00
27in 4K Gaming Monitor        673902.72
34in Ultrawide Monitor        645223.02
Apple Airpods Headphones      622800.00
Flatscreen TV                 399600.00
Bose SoundSport Headphones    364763.52
27in FHD Monitor              288580.76
Vareebadd Phone               227200.00
20in Monitor                  125168.62
LG Dryer                      103200.00
LG Washing Machine             96000.00
Lightning Charging Cable       92301.30
USB-C Charging Cable           77675.00
Wired Headphones               65921.02
AA Batteries (4-pack)          28600.32
AAA Batteries (4-pack)         25361.18

In [130]:
df.duplicated().sum()

np.int64(188012)

In [131]:
df = df.drop_duplicates()

In [132]:
### Make a matplotlib chart
df['Purchase Address'].head(2)

0    917 1st St, Dallas, TX 75001
1                             NaN
Name: Purchase Address, dtype: object

In [5]:
df[["Address", "City", "Zip_code"]] = df['Purchase Address'].str.split(',', expand = True)

In [136]:
df.groupby("City").agg(
Total_sales = ("Sales", 'sum')
).sort_values("Total_sales" , ascending = False)

               Total_sales
City
San Francisco   8254743.55
Los Angeles     5448304.28
New York City   4661867.14
Boston          3658627.65
Atlanta         2794199.07
Dallas          2765373.96
Seattle         2745046.02
Portland        2319331.94
Austin          1818044.33

In [61]:
df["Product"].unique()

array(['USB-C Charging Cable', 'Bose SoundSport Headphones',
       'Google Phone', 'Wired Headphones', 'Macbook Pro Laptop',
       'Lightning Charging Cable', '27in 4K Gaming Monitor',
       'AA Batteries (4-pack)', 'Apple Airpods Headphones',
       'AAA Batteries (4-pack)', 'iPhone', 'Flatscreen TV',
       '27in FHD Monitor', '20in Monitor', 'LG Dryer', 'ThinkPad Laptop',
       'Vareebadd Phone', 'LG Washing Machine', '34in Ultrawide Monitor'],
      dtype=object)

In [70]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales,Month,Address,State,Zip_code,City,Day,Time,hour
0,176558,USB-C Charging Cable,2.0,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",23.90,4,917 1st St,Dallas,TX 75001,Dallas,19,08:46:00,8
2,176559,Bose SoundSport Headphones,1.0,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",99.99,4,682 Chestnut St,Boston,MA 02215,Boston,7,22:30:00,22
3,176560,Google Phone,1.0,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",600.00,4,669 Spruce St,Los Angeles,CA 90001,Los Angeles,12,14:38:00,14
4,176560,Wired Headphones,1.0,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",11.99,4,669 Spruce St,Los Angeles,CA 90001,Los Angeles,12,14:38:00,14
5,176561,Wired Headphones,1.0,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",11.99,4,333 8th St,Los Angeles,CA 90001,Los Angeles,30,09:27:00,9

In [137]:
df["hour"] = df['Order Date'].dt.hour
df["minute"] = df['Order Date'].dt.minute
df["Day"] =df["Order Date"].dt.day

C:\Users\moham\AppData\Local\Temp\ipykernel_10168\2594435261.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["hour"] = df['Order Date'].dt.hour
C:\Users\moham\AppData\Local\Temp\ipykernel_10168\2594435261.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["minute"] = df['Order Date'].dt.minute
C:\Users\moham\AppData\Local\Temp\ipykernel_10168\2594435261.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Day"] =df["Order Date"].dt.day

In [138]:
df.groupby(["hour" , "minute"]).agg(
Total_sales = ("Sales" , 'sum')).sort_values("Total_sales", ascending = False)

             Total_sales
hour minute
19.0 1.0        54503.14
12.0 21.0       54170.01
19.0 16.0       54156.39
20.0 13.0       53149.51
19.0 20.0       52903.41
...                  ...
2.0  50.0         381.99
3.0  57.0         317.63
4.0  5.0          277.72
3.0  59.0         177.29
4.0  9.0          173.52

[1440 rows x 1 columns]

In [139]:
df[df["Order ID"].duplicated(keep = False)]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales,Month,Address,City,Zip_code,hour,minute,Day
3,176560,Google Phone,1.0,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",600.00,4,669 Spruce St,Los Angeles,CA 90001,14.0,38.0,12.0
4,176560,Wired Headphones,1.0,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",11.99,4,669 Spruce St,Los Angeles,CA 90001,14.0,38.0,12.0
18,176574,Google Phone,1.0,600.00,2019-04-03 19:42:00,"20 Hill St, Los Angeles, CA 90001",600.00,4,20 Hill St,Los Angeles,CA 90001,19.0,42.0,3.0
19,176574,USB-C Charging Cable,1.0,11.95,2019-04-03 19:42:00,"20 Hill St, Los Angeles, CA 90001",11.95,4,20 Hill St,Los Angeles,CA 90001,19.0,42.0,3.0
32,176586,AAA Batteries (4-pack),2.0,2.99,2019-04-10 17:00:00,"365 Center St, San Francisco, CA 94016",5.98,4,365 Center St,San Francisco,CA 94016,17.0,0.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186792,259303,AA Batteries (4-pack),1.0,3.84,2019-09-20 20:18:00,"106 7th St, Atlanta, GA 30301",3.84,9,106 7th St,Atlanta,GA 30301,20.0,18.0,20.0
186803,259314,Wired Headphones,1.0,11.99,2019-09-16 00:25:00,"241 Highland St, Atlanta, GA 30301",11.99,9,241 Highland St,Atlanta,GA 30301,0.0,25.0,16.0
186804,259314,AAA Batteries (4-pack),2.0,2.99,2019-09-16 00:25:00,"241 Highland St, Atlanta, GA 30301",5.98,9,241 Highland St,Atlanta,GA 30301,0.0,25.0,16.0
186841,259350,Google Phone,1.0,600.00,2019-09-30 13:49:00,"519 Maple St, San Francisco, CA 94016",600.00,9,519 Maple St,San Francisco,CA 94016,13.0,49.0,30.0
186842,259350,USB-C Charging Cable,1.0,11.95,2019-09-30 13:49:00,"519 Maple St, San Francisco, CA 94016",11.95,9,519 Maple St,San Francisco,CA 94016,13.0,49.0,30.0

In [140]:
cf = df[df["Order ID"].duplicated()]
cf.groupby(["Order ID", "Product"]).agg(
tot_count =("Order ID" , 'count')
).sort_values('tot_count', ascending = False)

                                     tot_count
Order ID Product
141275   Wired Headphones                    1
141290   AA Batteries (4-pack)               1
141365   Wired Headphones                    1
141384   USB-C Charging Cable                1
141450   Bose SoundSport Headphones          1
...                                        ...
319536   Wired Headphones                    1
319556   Wired Headphones                    1
319584   Wired Headphones                    1
319596   Lightning Charging Cable            1
319631   Lightning Charging Cable            1

[7249 rows x 1 columns]

In [141]:
df_multi = df[df['Order ID'].duplicated(keep=False)].copy()
df_multi['Grouped'] = (
    df_multi
    .groupby('Order ID')['Product']
    .transform(lambda x: ','.join(x))
)
df_multi

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales,Month,Address,City,Zip_code,hour,minute,Day,Grouped
3,176560,Google Phone,1.0,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",600.00,4,669 Spruce St,Los Angeles,CA 90001,14.0,38.0,12.0,"Google Phone,Wired Headphones"
4,176560,Wired Headphones,1.0,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",11.99,4,669 Spruce St,Los Angeles,CA 90001,14.0,38.0,12.0,"Google Phone,Wired Headphones"
18,176574,Google Phone,1.0,600.00,2019-04-03 19:42:00,"20 Hill St, Los Angeles, CA 90001",600.00,4,20 Hill St,Los Angeles,CA 90001,19.0,42.0,3.0,"Google Phone,USB-C Charging Cable"
19,176574,USB-C Charging Cable,1.0,11.95,2019-04-03 19:42:00,"20 Hill St, Los Angeles, CA 90001",11.95,4,20 Hill St,Los Angeles,CA 90001,19.0,42.0,3.0,"Google Phone,USB-C Charging Cable"
32,176586,AAA Batteries (4-pack),2.0,2.99,2019-04-10 17:00:00,"365 Center St, San Francisco, CA 94016",5.98,4,365 Center St,San Francisco,CA 94016,17.0,0.0,10.0,"AAA Batteries (4-pack),Google Phone"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186792,259303,AA Batteries (4-pack),1.0,3.84,2019-09-20 20:18:00,"106 7th St, Atlanta, GA 30301",3.84,9,106 7th St,Atlanta,GA 30301,20.0,18.0,20.0,"34in Ultrawide Monitor,AA Batteries (4-pack)"
186803,259314,Wired Headphones,1.0,11.99,2019-09-16 00:25:00,"241 Highland St, Atlanta, GA 30301",11.99,9,241 Highland St,Atlanta,GA 30301,0.0,25.0,16.0,"Wired Headphones,AAA Batteries (4-pack)"
186804,259314,AAA Batteries (4-pack),2.0,2.99,2019-09-16 00:25:00,"241 Highland St, Atlanta, GA 30301",5.98,9,241 Highland St,Atlanta,GA 30301,0.0,25.0,16.0,"Wired Headphones,AAA Batteries (4-pack)"
186841,259350,Google Phone,1.0,600.00,2019-09-30 13:49:00,"519 Maple St, San Francisco, CA 94016",600.00,9,519 Maple St,San Francisco,CA 94016,13.0,49.0,30.0,"Google Phone,USB-C Charging Cable"
186842,259350,USB-C Charging Cable,1.0,11.95,2019-09-30 13:49:00,"519 Maple St, San Francisco, CA 94016",11.95,9,519 Maple St,San Francisco,CA 94016,13.0,49.0,30.0,"Google Phone,USB-C Charging Cable"

In [142]:
df_multi.groupby("Grouped").agg(
Total_count = ("Grouped" , "count")
).sort_values("Total_count", ascending = False)

                                        Total_count
Grouped
iPhone,Lightning Charging Cable                1772
Google Phone,USB-C Charging Cable              1714
iPhone,Wired Headphones                         722
Vareebadd Phone,USB-C Charging Cable            624
Google Phone,Wired Headphones                   606
...                                             ...
ThinkPad Laptop,Vareebadd Phone                   2
iPhone,Google Phone                               2
iPhone,LG Washing Machine                         2
27in 4K Gaming Monitor,LG Dryer                   2
27in 4K Gaming Monitor,Vareebadd Phone            2

[350 rows x 1 columns]

In [143]:
df_multi["Grouped"].value_counts()

Grouped
iPhone,Lightning Charging Cable             1772
Google Phone,USB-C Charging Cable           1714
iPhone,Wired Headphones                      722
Vareebadd Phone,USB-C Charging Cable         624
Google Phone,Wired Headphones                606
                                            ...
LG Dryer,Google Phone                          2
Vareebadd Phone,27in FHD Monitor               2
iPhone,Google Phone                            2
ThinkPad Laptop,27in 4K Gaming Monitor         2
LG Washing Machine,AA Batteries (4-pack)       2
Name: count, Length: 350, dtype: int64

In [144]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales,Month,Address,City,Zip_code,hour,minute,Day
0,176558,USB-C Charging Cable,2.0,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",23.90,4,917 1st St,Dallas,TX 75001,8.0,46.0,19.0
1,NaN,NaN,0.0,0.00,NaT,NaN,0.00,0,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1.0,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",99.99,4,682 Chestnut St,Boston,MA 02215,22.0,30.0,7.0
3,176560,Google Phone,1.0,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",600.00,4,669 Spruce St,Los Angeles,CA 90001,14.0,38.0,12.0
4,176560,Wired Headphones,1.0,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",11.99,4,669 Spruce St,Los Angeles,CA 90001,14.0,38.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3.0,2.99,2019-09-17 20:56:00,"840 Highland St, Los Angeles, CA 90001",8.97,9,840 Highland St,Los Angeles,CA 90001,20.0,56.0,17.0
186846,259354,iPhone,1.0,700.00,2019-09-01 16:00:00,"216 Dogwood St, San Francisco, CA 94016",700.00,9,216 Dogwood St,San Francisco,CA 94016,16.0,0.0,1.0
186847,259355,iPhone,1.0,700.00,2019-09-23 07:39:00,"220 12th St, San Francisco, CA 94016",700.00,9,220 12th St,San Francisco,CA 94016,7.0,39.0,23.0
186848,259356,34in Ultrawide Monitor,1.0,379.99,2019-09-19 17:30:00,"511 Forest St, San Francisco, CA 94016",379.99,9,511 Forest St,San Francisco,CA 94016,17.0,30.0,19.0
186849,259357,USB-C Charging Cable,1.0,11.95,2019-09-30 00:18:00,"250 Meadow St, San Francisco, CA 94016",11.95,9,250 Meadow St,San Francisco,CA 94016,0.0,18.0,30.0

In [145]:
df.groupby("Product").agg(
Tot_sales = ("Sales" , "sum")
).sort_values('Tot_sales' , ascending = False)

                             Tot_sales
Product
Macbook Pro Laptop          8032500.00
iPhone                      4792900.00
ThinkPad Laptop             4127958.72
Google Phone                3317400.00
27in 4K Gaming Monitor      2433147.61
34in Ultrawide Monitor      2352898.08
Apple Airpods Headphones    2345550.00
Flatscreen TV               1443900.00
Bose SoundSport Headphones  1342865.70
27in FHD Monitor            1131074.59
Vareebadd Phone              827200.00
20in Monitor                 453818.74
LG Washing Machine           399600.00
LG Dryer                     387600.00
Lightning Charging Cable     346376.55
USB-C Charging Cable         285975.45
Wired Headphones             246082.76
AA Batteries (4-pack)        106041.60
AAA Batteries (4-pack)        92648.14
Product                           0.00

In [146]:
df['Product'].unique()

array(['USB-C Charging Cable', nan, 'Bose SoundSport Headphones',
       'Google Phone', 'Wired Headphones', 'Macbook Pro Laptop',
       'Lightning Charging Cable', '27in 4K Gaming Monitor',
       'AA Batteries (4-pack)', 'Apple Airpods Headphones',
       'AAA Batteries (4-pack)', 'iPhone', 'Flatscreen TV',
       '27in FHD Monitor', '20in Monitor', 'LG Dryer', 'ThinkPad Laptop',
       'Vareebadd Phone', 'LG Washing Machine', '34in Ultrawide Monitor',
       'Product'], dtype=object)

In [147]:
df.to_csv(r'C:\Users\moham\hello\all_month_data.csv' , index = False)